//@theme "~/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
//@theme "/usr/share/rofi/themes/android_notification.rasi"
//@theme "/home/why/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"
//@theme "/usr/share/rofi/themes/arthur.rasi"
@theme "/home/why/.local/share/rofi/themes/arc_dark_transparent_colors.rasi"
